body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  
  header {
    background-color: #da1818;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    
  }
  
  .logo img {
    height: 50px;
    width: auto;
    border-radius: 50%;
  }
  
  .logo h1 {
    font-size: 1.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ffd700;
  }
  h1 {
    margin: 0;
  }
  
  .schedule {
    margin: 20px;
  }
  
  h2 {
    color: #c72c41;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #c72c41;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  
  